* {
    box-sizing: border-box;
  }
  
  :root {
    --primary: #0c835bc5;
    --secondary: rgb(104, 202, 125);
    --tertiary: rgb(27, 133, 80);
    --white: rgb(255, 255, 255);
    font-size: 62.5%;
  }
  